{% extends 'base.html.twig' %}


{% block body %}

    <div class="jumbotron top-space">
        <br>
        <h1 class="display-3 text-center">A propos de nous</h1>
        <hr class="my-4">
    </div>

    <div class="container text-justify top-space">
        <p>
            Ship Quest Inc est une entreprise fictive que nous avons créé dans le cadre de notre projet tutoré, représentant une compagnie faisant des jeux vidéos, notamment Ship Quest, un RTS sur le thème de la piraterie que nous voulions créer. Les membres du groupe sont Yanis Amraoui, Victor Boyer, Youssef Caouini, Brice Claramunt, Jules Clerc et Alexis Houpert. Le projet tutoré consiste en un jeu vidéo associé à un site internet complémentant ce jeu, permettant une grande interactivité entre les deux parties.

            Pendant la durée de l’élaboration de notre projet (à peu près 3 mois), nous avons dû nous adapter et travailler en étroite collaboration afin de pouvoir réaliser nos objectifs de manière concrète. Nous sommes fiers de pouvoir vous présenter la totalité de notre travail, bien que nous aimerions continuer à développer notre projet à l’avenir et réussir à implémenter les fonctionnalités manquantes à notre projet.
        </p>



    </div>



{% endblock %}