{% extends 'base.html.twig' %}


{% block body %}

    <div class="jumbotron">
        <br> <br> <br>
        <h1 class="display-3 text-center">Un RTS innovant et unique en son genre</h1>
        <hr class="my-4">
    </div>


    <div class="col-lg-4">
        <div class="d-flex flex-row p-2 border ">
            <div class="card border-primary mb-3 center-block" style="max-width: 20rem;">
                <div class="card-body"><h3 class="card-title">Un RTS inédit !</h3>
                    <p class="card-text">Devenez un pirate et partez à la conquête des océans à l'aide de votre bateau.</p>
                </div>
            </div>

            <div class="card text-white bg-primary mb-3 center-block" style="max-width: 20rem; background-color:#BDBDAA">
                <div class="card-body">
                    <h3 class="card-title">Battez votre adversaire ! </h3>
                    <p class="card-text">Soyez plus ingénieux et rapide que votre adversaire en conquérant les îles alentours et en améliorant vos ressources. </p>
                </div>
            </div>

            <div class="card border-primary mb-3 center-block " style="max-width: 20rem;">
                <div class="card-body">
                    <h3 class="card-title">Gérez vos ressources</h3>
                    <p class="card-text">Vos ressources sont essentielles pour mener à bien vos expéditions. Il faut avoir assez de nourriture, afin de nourrir vos habitants, pour vous permettre d'agrandir votre flotte.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="d-flex flex-row p-2 border ">
            <div class="card text-white bg-primary mb-3 center-block" style="max-width: 20rem;background-color:#BDBDAA">
                <div class="card-body">
                    <h3 class="card-title">Explorez la carte ! </h3>
                    <p class="card-text">Votre but est de découvrir de nouvelles îles. Plus vous aurez d'îles, plus vous obtiendrez de ressources, plus vos chances de victoires sont grandes ! </p>
                </div>
            </div>

            <div class="card border-primary mb-3 center-block " style="max-width: 20rem;">
                <div class="card-body">
                    <h3 class="card-title">Votre but : la victoire</h3>
                    <p class="card-text">Il y a de nombreuses manières de gagner: prenez toutes les îles de votre adversaire ou bien ayez plus d'îles que lui à la fin du nombre de tours imparti.</p>
                </div>
            </div>

            <div class="card text-white bg-primary mb-3 center-block" style="max-width: 20rem;background-color:#BDBDAA">
                <div class="card-body">
                    <h3 class="card-title">Soyez stratèges ! </h3>
                    <p class="card-text">Votre conquête peut se faire de manière aggressive ou bien de manière plus discrète : tout est possible. </p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-4">
        <div class="d-flex flex-row p-2 border ">
            <div class="card border-primary mb-3 center-block" style="max-width: 20rem;">
                <div class="card-body"><h3 class="card-title">Colon ou frégate</h3>
                    <p class="card-text">Le colon vous permettra de conquérir pacifiquement de nouvelles îles, alors que la frégate sera votre bateau de guerre.</p>
                </div>
            </div>

            <div class="card text-white bg-primary mb-3 center-block" style="max-width: 20rem;background-color:#BDBDAA">
                <div class="card-body">
                    <h3 class="card-title">Soyez stylés ! </h3>
                    <p class="card-text">Vous pourrez personnaliser votre bateau grâce à de nombreux skins, ou bien votre menu avec des fonds d'écrans !</p>
                </div>
            </div>

            <div class="card border-primary mb-3 center-block " style="max-width: 20rem;">
                <div class="card-body">
                    <h3 class="card-title">Une véritable expérience pirate</h3>
                    <p class="card-text">L'exploration, la bataille, la conquête de nouveaux trésors : voici l'atmosphère que vous retrouverez dans ce jeu comme aucun autre.</p>
                </div>
            </div>
        </div>
    </div>



{% endblock %}