{% extends 'base.html.twig' %}


{% block body %}

    <!-- Header -->
    <header id="head">
        <div class="container">
            <div class="row">
                <h1 class="lead">Le meilleur jeu de voiture ballon</h1>
                <p class="tagline">incroyable sa </p>
                <p><a class="btn btn-default btn-lg" role="button">MORE INFO</a> <a class="btn btn-action btn-lg" role="button">DOWNLOAD NOW</a></p>
            </div>
        </div>
    </header>
    <!-- /Header -->



    <div class="container text-center">
        <br> <br>
        <h2 class="thin">Tester et approuver par Booba et Valbuena</h2>
        <p class="text-muted">
            Ma question préférée, qu'est-ce je vais faire de tout cet oseille?
            Je vais faire de tout cet oseille, je vais faire de tout cet oseille?
            Ma question préférée, qu'est-ce je vais faire de tout cet oseille?
            Moi et mes kheys on part sur la lune, amuse-toi bien en Meurthe-et-Moselle
        </p>
    </div>
<div class="container">
    <h2 class="text-center top-space">Nos derniers article</h2>

    <div class="row">
        <div class="col-sm-6">
            <h3>Incroyable mise a jour</h3>
            <p>Sors les kalash comme à Marseille Bah, ouais Morray Izi</p>
        </div>

        <div class="col-sm-6">
            <h3>Second poto pavardddd</h3>
            <p>
                Tes négros n'ont pas d'oseille
                Dans la street tout se monnaye
                Les vrais savants, on se connaît
                Anti-hess on se connecte
                J'ai des gros bras, la chatte à Popeye</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>GROUPOILLLL</h3>
            <p>Crache-moi dessus je te lance une bouteille
                Difficilement je trouve le sommeil
                Menton pointé vers le soleil
                M.O.L.O.T.O.V cocktail
                Je te baise, je te laisse à l'hôtel</p>
        </div>
        <div class="col-sm-6">
            <h3>FIFU 30, j'ai packer messi 2 fois </h3>
            <p>
                Je passe au Lamborghini, Maybach, Phantom tu restes à l'Opel
                Je suis dans le textile, Sonia Rykiel
                Je gère le biz à l'américaine
                Je me taperais bien une Dominicaine
                Je la mettrais ienb' tout le week-end
                Je la mettrais ienb' tout le week-end
                Downtown, je l'ai vue sur Brickell
                Wallah, je suis frais, je suis nickel
            </p>
        </div>
    </div>
</div>
{% endblock %}