{% extends 'base.html.twig' %}


{% block body %}

    <div class="container top-space">

        <div class="alert alert-dismissible alert-warning top-space" style="background-color:#FFA038; border-color:#EB7740; color:white;">
            <h4 class="alert-heading text-center" style="font-weight: bold">La page PTUT du jeu vidéo</h4>
            <p class="mb-0 text-center">Vous trouverez sur cette page toutes les informations relatives à la conception du jeu vidéo, qui a été réalisé dans le cadre de notre projet tutoré.</p>
        </div>

        <div class="alert alert-dismissible alert-warning top-space" style="background-color:#958D83; border-color:#EB7740; color:white;">
            <p class="mb-0 text-center">
                Vous trouverez sur cette page toutes les informations relatives à la conception du site internet, qui a été réalisé dans le cadre de notre projet tutoré.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident
                cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?
                Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima
                alias temporibus facere distinctio quas adipisci nam
                sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.
                Vous trouverez sur cette page toutes les informations relatives à la conception du site internet, qui a été réalisé dans le cadre de notre projet tutoré.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident
                cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?
                Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima
                alias temporibus facere distinctio quas adipisci nam
                sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.
                Vous trouverez sur cette page toutes les informations relatives à la conception du site internet, qui a été réalisé dans le cadre de notre projet tutoré.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident
                cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?
                Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima
                alias temporibus facere distinctio quas adipisci nam
                sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.
            </p>
        </div>

    </div>
{% endblock %}
