{% extends 'base.html.twig' %}
{% block body %}
    <header id="head" class="secondary"></header>
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{{ path('site') }}">Home</a></li>
            <li class="active">Connexion</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Connexion</h1>
                </header>

                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Connectez-vous à votre compte</h3>
                            <p class="text-center text-muted">Pas encore de compte, <a href="{{ path('security_registration') }}">Inscrivez-vous</a> immédiatement pour jouer à notre jeu !  </p>
                            <hr>

                            <form action="{{ path('security_login') }}" method="post">
                                <div class="form-group">
                                    <input placeholder="Adresse E-mail" reequired name="_username" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input placeholder="Mot de passe" reequired name="_password" type="password" class="form-control">
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <b><a href="">Mot de passe oublié ?</a></b>
                                    </div>
                                    <div class="col-lg-4 text-right">
                                        <button class="btn btn-action" type="submit">Connexion</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </article>
            <!-- /Article -->

        </div>
    </div>	<!-- /container -->

{% endblock %}