{% extends 'base.html.twig' %}

{% block title %}Paiement effectué !
{% endblock %}

{% block body %}
    <header id="head" class="secondary"></header>
    <div class="container top-margin">
        <ol class="breadcrumb">
            <li><a href="{{ path('security_login') }}">Retour Login</a></li>
        </ol>

    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
         <div class="panel-body">
            <h3 class="thin text-center">{{ data }}</h3>
         </div>
        </div>
    </div>
    </div>
{% endblock %}