{% extends 'base.html.twig' %}
{% block body %}
    <header id="head" class="secondary"></header>
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{{ path('security_login') }}">Connexion</a></li>
            <li class="active">Mot de passe oublié</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Mot de passe oublié</h1>
                </header>

                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Mot de passe oublié</h3>
                            <p class="text-center text-muted">Vous avez oublié votre mot de passe ? Nous allons vous en renvoyer un nouveau.</p>

                            <hr>

                            <form action="{{ path('security_passwordOk') }}" method="post">
                                <div class="form-group">
                                    <input placeholder="Adresse E-mail" reequired name="_username" type="text" class="form-control">
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-lg-4 text-right">
                                        <button class="btn btn-action" type="submit">Confirmer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </article>
            <!-- /Article -->

        </div>
    </div>	<!-- /container -->

{% endblock %}